*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto !important;
}

@font-face {
    font-family: "Roboto";  
    src: url("fonts/Roboto.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

.header {
    background: rgb(1,8,92);
    background: linear-gradient(180deg, rgba(1,8,92,1) 0%, rgba(1,8,92,1) 0%, rgba(2,18,194,1) 100%);
    opacity: 88%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.header__menu-line-one {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 25px 0px;
}

.header__menu-line-two {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #464887;
    border-radius: 7px;
}

.header__menu-line-one_info {
    display: flex;
    justify-content: start;
    width: 100%;
}

.header__menu-line-one_phone-and-button {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 20px;
}

.header__menu-line-one_info_item-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.border-right {
    padding-right: 30px;
    border-right: 1px solid #585986;
}

.padding-left {
    padding-left: 30px;
}

.white_color {
    color: #FFFFFF;
}

.black_color {
    color: #000000;
}

.orange_color {
    color: #FF8E52;
}

.yellow_color {
    color: #FFBE64;
}

.blue_color {
    color: #4AC8ED;
}


.light-blue_color {
    color: #41C2E8;
}

.text--bold {
    font-weight: bold;
}

.text--lighter {
    font-weight: lighter;
    font-weight: 100;
}

.line-height-140 {
    line-height: 140%;
}

.text_align_end {
    text-align: end;
}

.text_align_center {
    text-align: center;
}

.t2025 {
    display: flex;
}

.text_1-25rem {
    font-size: 1.25rem;
    align-items: center;
}


.text_1-125rem {
    font-size: 1.125rem;
    align-items: center;
}

.text_1rem {
    font-size: 1rem;
    align-items: center;
}


.text_1-375rem {
    font-size: 1.375rem;
    align-items: center;
}

.text_1-5rem {
    font-size: 1.5rem;
    align-items: center;
}

.text_1-875rem {
    font-size: 1.875rem;
    align-items: center;
}

.text_2rem {
    font-size: 2rem;
    align-items: center;
}

.text_2-625rem {
    font-size: 2.625rem;
    align-items: center;
}

.text_4rem {
    font-size: 4rem;
    align-items: center;
}


.text_0-875rem {
    font-size: 0.875rem;
    align-items: center;
}

.padding-border-bottom {
    padding-bottom: 25px;
    border-bottom: 1px solid #585986;
    margin-bottom: 30px;
}

.margin-bottom-15px {
    margin-bottom: 15px;
}

.margin-bottom-30px {
    margin-bottom: 30px;
}


.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-bottom-45px {
    margin-bottom: 45px;
}


.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-top-5px {
    margin-top: 5px;
}

.margin-bottom-55px {
    margin-bottom: 55px;
}

.margin-bottom-60px {
    margin-bottom: 60px;
}


.margin-bottom-80px {
    margin-bottom: 80px;
}

.margin-bottom-210px {
    margin-bottom: 210px;
}

.text_0-75rem {
    font-size: 0.75rem;
    align-items: center;
}

.text_none_decoration {
    text-decoration: none;
}

.text_uppercase {
    text-transform: uppercase;
}

.header__button{
    padding: 12px 17px;
    border-color: #FFFFFF;
    border-radius: 7px;
    border-width: 1.5px;
    font-size: 14px;
    background: transparent;
}

.menu__list{
    display: flex;
    justify-content: start;
    list-style-type: none;
}

.menu__list-item {
    padding-top: 12px;
    padding-bottom: 12px;
}


.header__title-and-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* gap: 15px; */
    margin-top: 70px;
    padding-bottom: 70px;
}

.header__title {
    display: flex;
    flex-direction: column;
}

.form-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 13px;
    margin-bottom: 15px;
}

.input {
    width: 23.75rem;
    max-width: 23.75rem;
    width: 100%;
    padding: 11px 0px 11px 20px;
    font-size: 1rem;
    border-radius: 9px;
    border: 0;
}

.button {
    width: 48.3rem;
    max-width: 48.3rem;
    width: 100%;
    padding: 11px 0px 14px 0px;
    border-radius: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF8E52;
    border: 0px;
}

.header__vector {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-bottom: 60px;
}

.header__image {
    display: flex;
    justify-content: start;
}

.about-the-forum__frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #4AC8ED;
    text-align: center;
    margin-top: -55px;
    padding: 30px 40px 70px 40px;
    line-height: 35px;
    margin-bottom: 75px;
}

.about-the-forum__triangles {
    position: absolute;
    left: 12.5%;
    top: 620px;
    opacity: 26%;
}

.will-you-get {
    background: rgb(31,38,113);
    background: linear-gradient(180deg, rgba(31,38,113,1) 0%, rgba(1,8,92,1) 0%, rgba(59,72,215,1) 100%);
    padding: 75px 0;
}

.will-you-get__img-pin-and-text {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.will-you-get__text-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.will-you-get__circle {
    position: absolute;
    left: 65%;
    top: 2100px;
    left: 60%;
    top: 2100px;
}

.event-program {
    padding: 80px 0;
}

.event-program__3-columns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.event-program__column {
    display: flex;
    flex-direction: column;
}

.event-program__column_text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.button-take-part {
    width: 336px;
    padding: 15px 0px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF8E52;
    border: 0px;
}

.box-button {
    display: flex;
    justify-content: center;
}

.our-speakers {
    background-color: #eefbff;
    padding: 70px 0 110px 0;
}

.our-speakers__horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    margin-bottom: 80px;
}

.our-speakers__img-and-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.our-speakers__img-end {
    margin: 4px 4px 22px 4px;
}

.choose-subs {
    display: flex;
    background: rgb(59,72,215);
    background: linear-gradient(180deg, rgba(59,72,215,1) 0%, rgba(31,38,113,1) 100%);
    padding-bottom: 90px;
}


.choose-subs__dark-rectangle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 40px 25px 40px;
    background-color: #2C2C2C;
    width: 100%;
    gap: 15px;
    border-radius: 20px;
    margin-top: -67px;
}

.choose-subs__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 43px;
}

.choose-subs__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    height: 379px;
    width: 371px;
    line-height: 140%;
    background-color: #3c47b3;
    box-shadow: 0px -3px 10px 10px rgba(60, 71, 179, 0.49);
    margin-bottom: 20px;
}

.choose-subs__title {
    max-width: 370px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 12px;
}

.choose-subs__button {
    background: rgb(65,194,232);
    background: linear-gradient(180deg, rgba(65,194,232,1) 0%, rgba(59,72,215,1) 100%);
    margin-bottom: -20px;
    font-size: 1.25rem;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 20px;
    border: 0;
    text-transform: uppercase;
}

.slider {
    padding-top: 65px;
}

.slider__image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 35px;
}

/* .slider__video {
    width: 720px;
    height: 405px;
    border-radius: 10px;
    overflow: hidden;
} */

.swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    position: relative;
    z-index: 5;
    
}

.swiper {
    padding: 45px 0 110px 0;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
}

.partners {
    background-color: #eefbff;
    padding: 60px 0 90px 0;
}


.partners__horizontal {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}

.partners__company-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 35%;
}

.reviews {
    padding-top: 60px;
}

.reviews__telephone {
    display: flex;
    max-width: 100%;
    justify-content: center;
    padding: 75px 0 190px;
    position: relative;
}

.reviews__message-1 {
    position: absolute;
    left: 40px;
    top: 0;
}

.reviews__message-2 {
    position: absolute;
    left: 55px;
    top: 493px;
}

.reviews__message-3 {
    position: absolute;
    right: 70px;
    top: 0;
}

.reviews__message-4 {
    position: absolute;
    right: 40px;
    top: 285px;
}

.reviews__message-5 {
    position: absolute;
    left: 490px;
    bottom: 65px;
}


.faq{
    background: rgb(59,72,215);
    background: linear-gradient(180deg, rgba(59,72,215,1) 0%, rgba(31,38,113,1) 100%);
    padding: 60px 0 70px 0;
}

.accordion {
    max-width: 950px;
    width: 100%;
    margin-inline: auto;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-item--active .accordion-item__trigger {
    color: black;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.accordion-item--active .accordion-item__content {
    display: block;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 20px 25px 30px;
}

.accordion-item__trigger {
    position: relative;
    padding: 30px 20px 25px 30px;
    color: white;
}

.accordion-item--border {
    border-bottom: 1px solid #FFFFFF;
}


.accordion-item--active .accordion-item__image{
    transform: rotate(-47deg);
    animation: example 0.25s;
}

.accordion-item__image {
    position: absolute;
    right: 20px;
    top: 26px;
}

@keyframes example {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-12deg); }
    50% { transform: rotate(-24deg); }
    75% { transform: rotate(-36deg); }
    100% { transform: rotate(-47deg);}
  }

.accordion-item__content {
    display: none;
}


.footer {
    background-color: #292929;
    padding: 50px 0 50px 0;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
}

.footer__socials {
    display: flex;
    justify-content: space-around;
}


@media (max-width: 720px) {

    .margin-bottom-210px {
        margin-bottom: 140px;
    }

    .margin-bottom-80px {
        margin-bottom: 40px;
    }

    .text_1-5rem {
        font-size: 1.25rem;
        align-items: center;
    }

    .text_1-25rem {
        font-size: 1rem;
        align-items: center;
    }

    .text_1-875rem {
        font-size: 1.5rem;
        align-items: center;
    }

    .footer__columns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-inline: 32px;
      }

      .reviews {
        display: none;
      }

      .header__menu-line-one_phone-and-button {
        justify-content: space-around;
        margin-top: 10px;
      }
      .header__menu-line-one {
        justify-content: center;
        flex-wrap: wrap;
      }

      .header__title-and-image {
        justify-content: center;
      }

      .will-you-get__text-column {
        margin-top: 20px;
        padding-inline: 25px;
      }

      .will-you-get__img-pin-and-text {
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid #FFFFFF;
      }

      .form-line {
        justify-content: center;
        margin-bottom: 13px;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .button {
        width: 60%;
      }

      .header__menu-line-one_info {
        justify-content: center;
      }

      .header__title {
        text-align: center;
      }
}

